<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 引入jquery -->
    <script src="{{ url_for('user.static', filename='/js/jquery-3.6.5.js') }}"></script>
</head>
<body>
<form action="/user/register" method="post">
    用户名：<input type="text" name="name"><br>
    密码：<input type="password" name="password" ><br>
    手机号：<input type="text" name="phone" id="phone"><br>
    验证码：<input type="text" name="valid_code" id="valid_code">
    <input type="button" id="get_valid_code" value="获取验证码"><br>
    <input type="submit" value="注册">
</form>
<script>
    $(function(){
        // 监听获取验证码按钮点击
        $('#get_valid_code').click(function () {

            var btn = $(this);
            // 获取手机号
            let phone = $('#phone').val();
			// 有手机号才能获取验证码
            if(phone){
            	// 使验证码按钮不可点击
                btn.prop('disabled', true);
                // 发送请求，后端模拟向对应手机号发送验证码
                $.ajax({
                    // 请求方式
                    type: 'GET',
                    // 请求媒体类型
                    contentType: 'application/json;charset=UTF-8',
                    // 请求地址
                    url: 'http://127.0.0.1:5000/user/user_code?phone=' + phone,
                    // 请求成功
                    success: function (result) {
                        alert(result.msg)
                    },
                    // 请求失败,包含具体错误信息
                    error: function (e) {
                        alert(e.status);
                        alert(e.responseText);
                    }
                })
                // 倒计时秒数
                var sec = 60;
                // 创建定时器对象
                var timer = setInterval(
                    function () {
                    	// 秒数大于0，继续倒计时
                        if(sec>0) {
                            console.log($(this));
                            btn.val(String(sec) + '秒后再次发送');
                            sec--;
                        }else{
                        	// 秒数小于0，重置秒数，使验证码按钮可以点击，并且清除定时器，使秒数不再倒计时
                            sec = 60;
                            btn.val('获取验证码');
                            btn.prop('disabled', false);
                            // 清除定时器
                            clearInterval(timer);
                        }
                    }, 1000);
            }else{
                alert("请输入手机号！！！")
            }
        })

    })
</script>
</body>
</html>
